 * {
     margin: 0;
     padding: 0;
 }

 a {
     text-decoration: none;
 }

 ul {
     list-style-type: none;
 }

 .nav {
     width: 1600px;
     height: 60px;
     margin: 0 auto;
     background-color: rgb(0, 0, 0);
     position: relative;
 }

 .nav .logo {
     float: left;
     margin-left: 300px;
     line-height: 60px;
     color: rgb(255, 255, 255);
     font-size: 20px;
 }

 .nav ul {
     margin-left: 500px;
 }

 .nav li {
     float: left;
     line-height: 60px;
     width: 100px;
     text-align: center;
 }

 .nav ul li:hover {
     background: #666666;
 }

 .nav ul li a {
     color: rgb(255, 255, 255);
 }

 .nav ul .li1 {
     position: relative;
 }

 .nav ul .li1 ul {
     position: absolute;
     width: 100px;
     height: 240px;
     top: 60px;
     right: 0px;
     display: none;
     background-color: #666666;
 }

 .nav ul .li1:hover .ul1 {
     display: block;
 }

 .nav ul .li2 {
     position: relative;
 }

 .nav ul .li2 ul {
     position: absolute;
     width: 100px;
     height: 240px;
     top: 60px;
     right: 0px;
     display: none;
     background-color: #666666;
 }

 .nav ul .li2:hover .ul2 {
     display: block;
 }

 .nav ul .li3 {
     position: relative;
 }

 .nav ul .li3 ul {
     position: absolute;
     width: 100px;
     height: 240px;
     top: 60px;
     right: 0px;
     display: none;
     background-color: #666666;
 }

 .nav ul .li3:hover .ul3 {
     display: block;
 }

 .nav ul .li4 {
     position: relative;
 }

 .nav ul .li4 ul {
     position: absolute;
     width: 100px;
     height: 180px;
     top: 60px;
     right: 0px;
     display: none;
     background-color: #666666;
 }

 .nav ul .li4:hover .ul4 {
     display: block;
 }

 input {
     outline: none;
 }

 .nav .hm {
     width: 500px;
     height: 60px;
     float: right;
 }

 .ssk {
     margin-top: 15px;
     float: left;
     ;
     width: 225px;
     height: 26px;
     background: #f1f1f1;
     border: 1px solid #e5e5e5;
     border-radius: 5px 5px 5px 5px;
 }

 .ssk .search_t {
     border: none;
     background: #f1f1f1;
     width: 185px;
     font-size: 12px;
     padding-left: 5px;
     margin-top: 8px;
     margin-left: 5px;
     float: left;
 }

 .nav .lll {
     position: relative;
     width: 100px;
     height: 60px;
     float: right;
     background-color: rgb(185, 185, 185);
     margin-right: 170px;
 }

 .zt dl {
     float: left;
     height: 60px;
     width: 200px;
     margin-left: 50px;
 }

 .zt dl dd {
     float: left;
     line-height: 60px;
     margin-right: 30px;
 }

 .zt dl dd a {
     color: rgb(255, 255, 255);
 }

 .zt dl dd a:hover {
     color: rgb(255, 0, 0);
 }

 .banner {
     width: 1600px;
     height: 800px;
     margin: 0 auto;
     background: url(../img/1.jpg);
 }

 .banner img {
     width: 150px;
     height: 150px;
     border-radius: 200px;
     margin: 50px 730px;
 }
 .banner img:hover{
     transform: rotate(360deg);
     transition: all 3s;
 }
 .banner p{
     text-align: center;
     font-size: 30px;
     color: rgb(255, 255, 255);
     margin-top: 5px;
 }
