* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}
.nnn .nnn1 {
    width: 159px;
    height: 25px;
    position: absolute;
    /*绝对定位*/
    top: 50px;
    left: 730px;
}
.nnn {
    width: 1600px;
    height: 800px;
    margin: 0 auto;
    background: url(../img/1.jpg);
}
.nnn1 h1{
    color: rgb(255, 255, 255);
}
.nnn1 h1:hover{
    color: rgb(105, 104, 104);
}
.nnn .nnn2{
    width: 810px;
    height: 435px;
    margin-left: -328px;
    margin-top: 80px;
}
 .nnn2 img{
    margin-top: 2px;
} 
.nnn2 img:hover{
    width: 260px;
    height: 200px;
}
.nnn .nnn4 {
    width: 115px;
    height: 37px;
    position: absolute;
    /*绝对定位*/
    top: 630px;
    left: 720px;
}

.nnn4 p {
    margin-top: 7px;
    margin-left: 33px;
}

.nnn4 p a {
    padding: 5px 24px;
    border: 1px solid rgb(253, 253, 253);
    border-radius: 10px;
    color: rgb(252, 252, 252);
}

.nnn4 p a:hover {
    color: rgb(248, 143, 6);
}